

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary, .bg-primary {
   background: #28a745;
   color: #fff;
}

.btn-primary:hover {
background:#28a745 ;}
.btn-secondary, .bg-secondary {
  
   color: #fff;
}
.btn-dark, .bg-dark {
   background: #333;
   color: #fff;
}
.btn-light, .bg-light {
   background: #f4f4f4;
   color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;

}

.flex-items > div {
    padding: 20px;
}


/* Section header */
.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}



